<context>
	<input pattern="$Text">
        <!-- Save UserName variable with the same value as Text pattern -->
        <var name="UserName" value="$Text" scope="user"/> <!-- Define a persistence scope of variable -->
        <output value="Nice to meet you $UserName!"/>
  <get url="http://api.wordnik.com:80/v4/word.json/{word}/definitions?" >
<param name ="word" value = "$UserName"/>
  <param name="limit" value="200"/>
    <param name="includeRelated" value="true"/>
    <param name="useCanonical" value="false"/>
    <param name="includeTags" value="false"/>
	<param name="api_key" value="a2a73e7b926c924fad7001ca3111acd55af2ffabf50eb4ae5"/>
	
  </get>

  <output value='get("temp", get("main", $apple))'/>
</input>
</context>
