<context>
<input pattern="(hi|hello|hy) *">
  <get url="http://api.wordnik.com:80/v4/word.json/">
	    <param name ="word" value = "apple"/>
  <param name="limit" value="200"/>
    <param name="includeRelated" value="true"/>
    <param name="useCanonical" value="false"/>
    <param name="includeTags" value="false"/>
	<param name="api_key" value="a2a73e7b926c924fad7001ca3111acd55af2ffabf50eb4ae5"/>
	
  </get>

  <output value='get("temp", get("main", $apple))'/>
</input>
</context>
