<input pattern="* (weather|forecast)">
  <get url="http://api.openweathermap.org/data/2.5/weather" var="Weather">
    <param name="APPID" value="API_KEY"/>
    <param name="units" value="metric"/>
    <param name="lat" value="$UserLatitude"/>
    <param name="lon" value="$UserLongitude"/>
  </get>

  <output value='get("temp", get("main", $Weather))'/>
</input>
